yo/app/jade/views/ipad-landscape/project.jade
mixin people(people)
	each person in people
		h2.project-subheading.project-subheading-post= person[1]
		p.project-text= person[0]

mixin awards(awards)
	ul.project-awards
		each award in awards
			li.project-award
				span.project-award-year= award[0]
				= ' ' + award[1]

link(href='styles/ipad-landscape.css' rel='stylesheet')

.section.section-project
	
	.project-controllers
		a.project-controller.project-controller-prev(href=jv0)
		a.project-controller.project-controller-next(href=jv0)
		a.project-controller.project-controller-close(href=jv0)

	.content
		.project
			img.project-logo(src='images/project-logo.jpg' alt='Super-Sobaka Logo' width=67 height=67)
			h1.project-name Super-Sobaka
			img.project-cover(src='images/project-cover.jpg' alt='Super-Sobaka Cover' width=472 height=472)
			h2.project-subheading Client
			p.project-text Moscow shelter for dogs
			h2.project-subheading Purpose
			p.project-text Ailove is a full service digital agency with office in Moscow, Russia. We work with some of the most distinguished brands in the world launching cross-platform solutions for web, e-commerce, social media and online campaigns. We are a team of planners, producers, information architects, analysts, creatives and technologists dedicated to our clients' success.
			h2.project-subheading Idea
			p.project-text Ailove is a full service digital agency with office in Moscow, Russia. We work with some of the most distinguished brands in the world launching cross-platform solutions.



			.project-implementation
				.project-implementation__heading.g-abs Implementation

				.project-implementation__description Ailove is a full service digital agency with office in Moscow, Russia. We work with some of the most distinguished brands in the world launching cross-platform solutions for web, e-commerce, social media and online campaigns. We are a team of planners, producers, information architects, analysts, creatives and technologists dedicated to our clients' success.

				.project-implementation__fig

				.project-slider
					img.project-slider__slide(src='images/implementation.jpg')
				
				ul.project-slider-pager
					li.project-slider-pager__item: a.project-slider-pager__item-dot(href=jv0)
					li.project-slider-pager__item: a.project-slider-pager__item-dot.project-slider-pager__item-dot_state_active(href=jv0)
					li.project-slider-pager__item: a.project-slider-pager__item-dot(href=jv0)
					li.project-slider-pager__item: a.project-slider-pager__item-dot(href=jv0)
					li.project-slider-pager__item: a.project-slider-pager__item-dot(href=jv0)



			p.project-text.project-text-implementation Ailove is a full service digital agency with office in Moscow, Russia. We work with some of the most distinguished brands in the world launching cross-platform solutions for web, e-commerce, social media and online campaigns. We are a team of planners, producers, information architects, analysts, creatives and technologists dedicated to our clients' success.

			h2.project-subheading.project-subheading-results Results

			.project-results
				.project-results__number 9500
				.project-results__description visits per month
				.project-results__number 164
				.project-results__description
					| new volunteers
					br
					| per 1-st month

			h2.project-subheading.project-subheading-awards Awards

			+awards([
				[2013, 'The FWA / Site of the day'],
				[2014, 'Red Apple / Gold']
			])

			+people([
				['Анна Корзун', 'Креативный Директор'],
				['Александр Редингер (aka Miles)', 'Креативный Продюсор'],
				['Анатолий Шебзухов', 'Художественный Руководитель'],
				['Игорь Борисов', 'Составитель текста'],
				['Владимир Серегин', 'Самый Главный разработчик'],
				['Влад Федорин', 'Арт-директор'],
				['Степан Ерошкин', 'Дизайнер'],
				['Макс Иванов', 'Дизайнер'],
				['Антон Жуков', 'Верстка и скрипты'],
				['Юрий Барсуков', 'Программирование']
			])
			
			a.project-visit-site(href=jv0 data-label='Visit Site')
			a.project-top(href=jv0 data-label='Top')

yo/app/views/ipad-landscape/project.html
<link href="styles/ipad-landscape.css" rel="stylesheet"/><div class="section section-project"><div class="project-controllers"><a href="javascript:void(0);" class="project-controller project-controller-prev"></a><a href="javascript:void(0);" class="project-controller project-controller-next"></a><a href="javascript:void(0);" class="project-controller project-controller-close"></a></div><div class="content"><div class="project"><img src="images/project-logo.jpg" alt="Super-Sobaka Logo" width="67" height="67" class="project-logo"/><h1 class="project-name">Super-Sobaka</h1><img src="images/project-cover.jpg" alt="Super-Sobaka Cover" width="472" height="472" class="project-cover"/><h2 class="project-subheading">Client</h2><p class="project-text">Moscow shelter for dogs</p><h2 class="project-subheading">Purpose</h2><p class="project-text">Ailove is a full service digital agency with office in Moscow, Russia. We work with some of the most distinguished brands in the world launching cross-platform solutions for web, e-commerce, social media and online campaigns. We are a team of planners, producers, information architects, analysts, creatives and technologists dedicated to our clients' success.</p><h2 class="project-subheading">Idea</h2><p class="project-text">Ailove is a full service digital agency with office in Moscow, Russia. We work with some of the most distinguished brands in the world launching cross-platform solutions.</p><div class="project-implementation"><div class="project-implementation__heading g-abs">Implementation</div><div class="project-implementation__description">Ailove is a full service digital agency with office in Moscow, Russia. We work with some of the most distinguished brands in the world launching cross-platform solutions for web, e-commerce, social media and online campaigns. We are a team of planners, producers, information architects, analysts, creatives and technologists dedicated to our clients' success.</div><div class="project-implementation__fig"></div><div class="project-slider"><img src="images/implementation.jpg" class="project-slider__slide"/></div><ul class="project-slider-pager"><li class="project-slider-pager__item"><a href="javascript:void(0);" class="project-slider-pager__item-dot"></a></li><li class="project-slider-pager__item"><a href="javascript:void(0);" class="project-slider-pager__item-dot project-slider-pager__item-dot_state_active"></a></li><li class="project-slider-pager__item"><a href="javascript:void(0);" class="project-slider-pager__item-dot"></a></li><li class="project-slider-pager__item"><a href="javascript:void(0);" class="project-slider-pager__item-dot"></a></li><li class="project-slider-pager__item"><a href="javascript:void(0);" class="project-slider-pager__item-dot"></a></li></ul></div><p class="project-text project-text-implementation">Ailove is a full service digital agency with office in Moscow, Russia. We work with some of the most distinguished brands in the world launching cross-platform solutions for web, e-commerce, social media and online campaigns. We are a team of planners, producers, information architects, analysts, creatives and technologists dedicated to our clients' success.</p><h2 class="project-subheading project-subheading-results">Results</h2><div class="project-results"><div class="project-results__number">9500</div><div class="project-results__description">visits per month</div><div class="project-results__number">164</div><div class="project-results__description">new volunteers<br/>per 1-st month</div></div><h2 class="project-subheading project-subheading-awards">Awards</h2><ul class="project-awards"><li class="project-award"><span class="project-award-year">2013</span> The FWA / Site of the day</li><li class="project-award"><span class="project-award-year">2014</span> Red Apple / Gold</li></ul><h2 class="project-subheading project-subheading-post">Креативный Директор</h2><p class="project-text">Анна Корзун</p><h2 class="project-subheading project-subheading-post">Креативный Продюсор</h2><p class="project-text">Александр Редингер (aka Miles)</p><h2 class="project-subheading project-subheading-post">Художественный Руководитель</h2><p class="project-text">Анатолий Шебзухов</p><h2 class="project-subheading project-subheading-post">Составитель текста</h2><p class="project-text">Игорь Борисов</p><h2 class="project-subheading project-subheading-post">Самый Главный разработчик</h2><p class="project-text">Владимир Серегин</p><h2 class="project-subheading project-subheading-post">Арт-директор</h2><p class="project-text">Влад Федорин</p><h2 class="project-subheading project-subheading-post">Дизайнер</h2><p class="project-text">Степан Ерошкин</p><h2 class="project-subheading project-subheading-post">Дизайнер</h2><p class="project-text">Макс Иванов</p><h2 class="project-subheading project-subheading-post">Верстка и скрипты</h2><p class="project-text">Антон Жуков</p><h2 class="project-subheading project-subheading-post">Программирование</h2><p class="project-text">Юрий Барсуков</p><a href="javascript:void(0);" data-label="Visit Site" class="project-visit-site"></a><a href="javascript:void(0);" data-label="Top" class="project-top"></a></div></div></div>
