src/jade/section/about.jade
section#aboutus
	.clockwise
		hr.line_1.white.narrow.big
		hr.line_2.white.narrow.long
		hr.line_3.green.thin.short
		hr.line_4.red.narrow.big
		hr.line_5.green.thin.short
		hr.line_6.blue.thin.short
		hr.line_7.yellow
		hr.line_8.blue
		.circle.c1.red
		.circle.c2.green

	.people
		p 
			span 78
			| people
		.triangle
			div

	.projects
		p
			span 96
			| projects
		.triangle
			div

	#bigText
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, quidem ipsa odio dolore veniam quos eius harum sit impedit nesciunt.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, et, ut nihil tempora ipsum optio inventore consequatur saepe velit mollitia omnis alias natus nemo dolorem nisi! Rem, optio, laudantium, minus temporibus atque dolorem minima mollitia laboriosam in illo excepturi harum ipsa voluptatem porro dolor quis obcaecati sint eius veritatis repellat?
							
		.all
			span.a.reverse.animated-letter.rotated-letter
				em(data-letter='a')
					b.horizontal a
					i.horizontal a
			span.l.animated-letter.rotated-letter
				em(data-letter='l')
					b.vertical l
					i.vertical l
			span.l2.animated-letter.rotated-letter
				em(data-letter='l')
					b.vertical l
					i.vertical l

		.is
			span.i.animated-letter.rotated-letter
				em(data-letter='i')
					b.vertical i
					i.vertical i
			span.s.animated-letter.rotated-letter
				em(data-letter='s')
					b.vertical s
					i.vertical s

		.full
			span.f.reverse.animated-letter.rotated-letter
				em(data-letter='f')
					b.horizontal f
					i.horizontal f
			span.u.reverse.animated-letter.rotated-letter
				em(data-letter='u')
					b.horizontal u
					i.horizontal u
			span.l.animated-letter.rotated-letter
				em(data-letter='l')
					b.vertical l
					i.vertical l
			span.l2.animated-letter.rotated-letter
				em(data-letter='l')
					b.vertical l
					i.vertical l

		.of
			span.o.animated-letter.rotated-letter
				em(data-letter='o')
					b.vertical o
					i.vertical o
			span.f.reverse.animated-letter.rotated-letter
				em(data-letter='f')
					b.horizontal f
					i.horizontal f

		.love
			span.l.animated-letter.rotated-letter
				em(data-letter='l')
					b.vertical l
					i.vertical l
			span.o.reverse.animated-letter.rotated-letter
				em(data-letter='o')
					b.horizontal o
					i.horizontal o
			span.v.reverse.animated-letter.rotated-letter
				em(data-letter='v')
					b.horizontal v
					i.horizontal v
			span.e.animated-letter.rotated-letter
				em(data-letter='e')
					b.vertical e
					i.vertical e

dev/section/about.html
<section id="aboutus">
	<div class="clockwise">
		<hr class="line_1 white narrow big" />
		<hr class="line_2 white narrow long" />
		<hr class="line_3 green thin short" />
		<hr class="line_4 red narrow big" />
		<hr class="line_5 green thin short" />
		<hr class="line_6 blue thin short" />
		<hr class="line_7 yellow" />
		<hr class="line_8 blue" />
		<div class="circle c1 red"></div>
		<div class="circle c2 green"></div>
	</div>
	<div class="people">
		<p><span>78</span>people</p>
		<div class="triangle">
			<div></div>
		</div>
	</div>
	<div class="projects">
		<p><span>96</span>projects</p>
		<div class="triangle">
			<div></div>
		</div>
	</div>
	<div id="bigText">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, quidem ipsa odio dolore veniam quos eius harum sit impedit nesciunt.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, et, ut nihil tempora ipsum optio inventore consequatur saepe velit mollitia omnis alias natus nemo dolorem nisi! Rem, optio, laudantium, minus temporibus atque dolorem minima mollitia
			laboriosam in illo excepturi harum ipsa voluptatem porro dolor quis obcaecati sint eius veritatis repellat?</p>
		<div class="all"><span class="a reverse animated-letter rotated-letter"><em data-letter="a"><b class="horizontal">a</b><i class="horizontal">a</i></em></span><span class="l animated-letter rotated-letter"><em data-letter="l"><b class="vertical">l</b><i class="vertical">l</i></em></span>
			<span
			class="l2 animated-letter rotated-letter"><em data-letter="l"><b class="vertical">l</b><i class="vertical">l</i></em>
				</span>
		</div>
		<div class="is"><span class="i animated-letter rotated-letter"><em data-letter="i"><b class="vertical">i</b><i class="vertical">i</i></em></span><span class="s animated-letter rotated-letter"><em data-letter="s"><b class="vertical">s</b><i class="vertical">s</i></em></span>
		</div>
		<div class="full"><span class="f reverse animated-letter rotated-letter"><em data-letter="f"><b class="horizontal">f</b><i class="horizontal">f</i></em></span><span class="u reverse animated-letter rotated-letter"><em data-letter="u"><b class="horizontal">u</b><i class="horizontal">u</i></em></span>
			<span
			class="l animated-letter rotated-letter"><em data-letter="l"><b class="vertical">l</b><i class="vertical">l</i></em>
				</span><span class="l2 animated-letter rotated-letter"><em data-letter="l"><b class="vertical">l</b><i class="vertical">l</i></em></span>
		</div>
		<div class="of"><span class="o animated-letter rotated-letter"><em data-letter="o"><b class="vertical">o</b><i class="vertical">o</i></em></span><span class="f reverse animated-letter rotated-letter"><em data-letter="f"><b class="horizontal">f</b><i class="horizontal">f</i></em></span>
		</div>
		<div class="love"><span class="l animated-letter rotated-letter"><em data-letter="l"><b class="vertical">l</b><i class="vertical">l</i></em></span><span class="o reverse animated-letter rotated-letter"><em data-letter="o"><b class="horizontal">o</b><i class="horizontal">o</i></em></span>
			<span
			class="v reverse animated-letter rotated-letter"><em data-letter="v"><b class="horizontal">v</b><i class="horizontal">v</i></em>
				</span><span class="e animated-letter rotated-letter"><em data-letter="e"><b class="vertical">e</b><i class="vertical">e</i></em></span>
		</div>
	</div>
</section>
