src/jade/section/home.jade
section#home
	.clockwise
		hr.line_1.green.narrow.long
		hr.line_2.green.medium.long
		hr.line_3.green.wide.long
		hr.line_4.yellow.thin.short
		hr.line_5.yellow.thin.short
		hr.line_6.yellow.narrow.long
		hr.line_7.yellow.wide.long
		hr.line_8.yellow.medium.long
		hr.line_9.green.thin.short
		hr.line_10.red.narrow.long
		a#ru(href="/") RU

	.counterclockwise
		hr.line_1.blue.narrow.long
		hr.line_2.red.narrow.long
		hr.line_3.red.wide.big
		hr.line_4.blue.medium.big
		hr.line_5.red.thin.short
		hr.line_6.green.thin.short

	#showreel
		.triangle
			div
				img(src="img/showreel.png" height="553" width="641")
		.triangle
			div
		span
			em

	.video
		#playerXfMYNNRGtxMX

public/section/home.html
<section id="home"><div class="clockwise"><hr class="line_1 green narrow long"/><hr class="line_2 green medium long"/><hr class="line_3 green wide long"/><hr class="line_4 yellow thin short"/><hr class="line_5 yellow thin short"/><hr class="line_6 yellow narrow long"/><hr class="line_7 yellow wide long"/><hr class="line_8 yellow medium long"/><hr class="line_9 green thin short"/><hr class="line_10 red narrow long"/><a id="ru" href="/">RU</a></div><div class="counterclockwise"><hr class="line_1 blue narrow long"/><hr class="line_2 red narrow long"/><hr class="line_3 red wide big"/><hr class="line_4 blue medium big"/><hr class="line_5 red thin short"/><hr class="line_6 green thin short"/></div><div id="showreel"><div class="triangle"><div><img src="img/showreel.png" height="553" width="641"/></div></div><div class="triangle"><div></div></div><span><em></em></span></div><div class="video"><div id="playerXfMYNNRGtxMX"></div></div></section>
