public/section/portfolio.html
<section id="portf"><div class="triangle"><div></div></div><div class="triangle"><div></div></div><div class="clockwise"><hr class="line_1 blue narrow"/><hr class="line_2 red"/><hr class="line_3 green narrow long"/><hr class="line_4 yellow"/><hr class="line_5 green"/><hr class="line_6 red narrow long"/><div class="circle c1 green"><p>96<span>projects</span></p></div></div><div class="counterclockwise"><div class="listcontainer group"><hr class="line_under yellow"/><ul><li><a href="#show_movenpick">Movenpick</a></li><li><a href="#show_super-sobaka">Super-sobaka</a></li><li><a href="#show_leroy_merlin">Leroy Merlin</a></li><li><a href="#show_nestle">Nestle</a></li><li class="year">2014</li></ul><ul><li><a href="#show_real_love">Real Love</a></li><li><a href="#show_ru-happiness">Ru-happiness</a></li><li><a href="#show_aeroflot">Aeroflot</a></li><li><a href="#show_death_in_the_network">Death in the network</a></li><li><a href="#show_centro">Centro</a></li><li><a href="#show_jardin">Jardin</a></li><li><a href="#show_arko">Arko</a></li><li class="year">2013</li></ul><ul><li><a href="#show_textone">Textone</a></li><li><a href="#show_cirque_de_soleil">Cirque de soleil</a></li><li><a href="#show_mad_belka">Mad Belka</a></li><li><a href="#show_do_you_want_me">Do you want me?</a></li><li><a href="#show_viking_tales">Viking Tales</a></li><li><a href="#show_rock_bunnies">Rock Bunnies</a></li><li><a href="#show_ikea">IKEA</a></li></ul><ul><li><a href="#show_real_love">Real Love</a></li><li><a href="#show_ru-happiness">Ru-happiness</a></li><li><a href="#show_aeroflot">Aeroflot</a></li><li><a href="#show_death_in_the_network">Death in the network</a></li><li><a href="#show_centro">Centro</a></li><li><a href="#show_jardin">Jardin</a></li><li><a href="#show_arko">Arko</a></li><li class="year">2012</li></ul><ul><li><a href="#show_textone">Textone</a></li><li><a href="#show_cirque_de_soleil">Cirque de soleil</a></li><li><a href="#show_mad_belka">Mad Belka</a></li><li><a href="#show_do_you_want_me">Do you want me?</a></li><li><a href="#show_viking_tales">Viking Tales</a></li><li><a href="#show_rock_bunnies">Rock Bunnies</a></li><li><a href="#show_ikea">IKEA</a></li></ul></div><div class="scrollbar"><span></span></div></div></section>

src/jade/section/portfolio.jade
section#portf
	.triangle
		div
	
	.triangle
		div

	.clockwise
		hr.line_1.blue.narrow
		hr.line_2.red
		hr.line_3.green.narrow.long
		hr.line_4.yellow
		hr.line_5.green
		hr.line_6.red.narrow.long
		.circle.c1.green
			p 96
				span projects

	.counterclockwise
		.listcontainer.group
			hr.line_under.yellow
			ul
				li
					a(href="#show_movenpick") Movenpick
				li
					a(href="#show_super-sobaka") Super-sobaka
				li
					a(href="#show_leroy_merlin") Leroy Merlin
				li
					a(href="#show_nestle") Nestle
				li.year 2014

			ul
				li
					a(href="#show_real_love") Real Love
				li
					a(href="#show_ru-happiness") Ru-happiness
				li
					a(href="#show_aeroflot") Aeroflot
				li
					a(href="#show_death_in_the_network") Death in the network
				li
					a(href="#show_centro") Centro
				li
					a(href="#show_jardin") Jardin
				li
					a(href="#show_arko") Arko
				li.year 2013
				
			ul
				li
					a(href="#show_textone") Textone
				li
					a(href="#show_cirque_de_soleil") Cirque de soleil
				li
					a(href="#show_mad_belka") Mad Belka
				li
					a(href="#show_do_you_want_me") Do you want me?
				li
					a(href="#show_viking_tales") Viking Tales
				li
					a(href="#show_rock_bunnies") Rock Bunnies
				li
					a(href="#show_ikea") IKEA
				
			ul
				li
					a(href="#show_real_love") Real Love
				li
					a(href="#show_ru-happiness") Ru-happiness
				li
					a(href="#show_aeroflot") Aeroflot
				li
					a(href="#show_death_in_the_network") Death in the network
				li
					a(href="#show_centro") Centro
				li
					a(href="#show_jardin") Jardin
				li
					a(href="#show_arko") Arko
				li.year 2012
				
			ul
				li
					a(href="#show_textone") Textone
				li
					a(href="#show_cirque_de_soleil") Cirque de soleil
				li
					a(href="#show_mad_belka") Mad Belka
				li
					a(href="#show_do_you_want_me") Do you want me?
				li
					a(href="#show_viking_tales") Viking Tales
				li
					a(href="#show_rock_bunnies") Rock Bunnies
				li
					a(href="#show_ikea") IKEA

		.scrollbar
			span
