dev/section/wedo.html
<section id="wedo">
	<div class="triangle">
		<div></div>
	</div>
	<div class="triangle">
		<div></div>
	</div>
	<div class="clockwise">
		<hr class="line_top blue long narrow" />
		<hr class="line_bottom yellow big medium" />
		<hr class="line_1 red thin short" />
		<hr class="line_3 red" />
		<hr class="line_2 yellow" />
		<div class="circle c1 green"></div>
		<div class="circle c2 blue"></div>
	</div>
	<div class="counterclockwise">
		<ul>
			<li class="strategy">
				<p>Strategy<span>The right solution <br>for any brands	</span>
				</p>
			</li>
			<li class="creative">
				<p>Creative<span>Interest, enticing and bright <br> core communication	</span>
				</p>
			</li>
			<li class="mobile">
				<p>Mobile<span>Application for mobile <br> platfotms Android ans IOs	</span>
				</p>
			</li>
			<li class="production">
				<p>Production<span>Production and support <br> of sites	</span>
				</p>
			</li>
			<li class="integration">
				<p>Integration<span>Use of opportinites social media <br> ana websites to communicate with users	</span>
				</p>
			</li>
			<li class="smm">
				<p>SMM<span>Competent promotion <br> in social network</span>
				</p>
			</li>
			<li class="seo">
				<p>SEO<span>Promotion of sites <br> in search systems</span>
				</p>
			</li>
			<div class="units">UNITS</div>
		</ul>
	</div>
</section>

src/jade/section/wedo.jade
section#wedo
	.triangle
		div
		
	.triangle
		div
		
	.clockwise
		hr.line_top.blue.long.narrow
		hr.line_bottom.yellow.big.medium
		hr.line_1.red.thin.short
		hr.line_3.red
		hr.line_2.yellow
		.circle.c1.green
		.circle.c2.blue
		
	.counterclockwise
		ul
			li.strategy
				p Strategy
					span The right solution <br>for any brands	
			li.creative
				p Creative
					span Interest, enticing and bright <br> core communication	
			li.mobile
				p Mobile
					span Application for mobile <br> platfotms Android ans IOs	
			li.production
				p Production
					span Production and support <br> of sites	
			li.integration
				p Integration
					span Use of opportinites social media <br> ana websites to communicate with users	
			li.smm
				p SMM
					span Competent promotion <br> in social network
			li.seo
				p SEO
					span Promotion of sites <br> in search systems
			.units UNITS
