yo/app/views/ipad-portrait/about-us.html
<link href="styles/ipad-portrait.css" rel="stylesheet"/><div class="section section-about"><div class="content content-about"><div class="about-letters"><em class="about-letter about-letter-a about-letter_word_all"></em><em class="about-letter about-letter-l about-letter_word_all"></em><em class="about-letter about-letter-l about-letter_word_all"></em><em class="about-letter about-letter-i about-letter_word_is"></em><em class="about-letter about-letter-s about-letter_word_is"></em><em class="about-letter about-letter-f about-letter_word_full about-letter-break"></em><em class="about-letter about-letter-u about-letter_word_full"></em><em class="about-letter about-letter-l about-letter_word_full"></em><em class="about-letter about-letter-l about-letter_word_full"></em><em class="about-letter about-letter-o about-letter_word_of about-letter-break"></em><em class="about-letter about-letter-f about-letter_word_of"></em><em class="about-letter about-letter-l about-letter_word_love"></em><em class="about-letter about-letter-o about-letter_word_love"></em><em class="about-letter about-letter-v about-letter_word_love"></em><em class="about-letter about-letter-e about-letter_word_love"></em></div><div class="about-people about-circle"><span class="about-circle-number">78</span>people</div><div class="about-description">Ailove is a full service digital agency<br/>with office in Moscow, Russia.<br/>We work with some of the most<br/>distinguished brands in the world<br/>launching cross-platform solutions<br/>for web, e-commerce, social media<br/>and online campaigns.<br/>We are a team of planners, producers,<br/>information architects, analysts,<br/>creatives and technologists dedicated<br/>to our clients' success.</div><div class="about-projects about-circle"><span class="about-circle-number">96</span>projects</div></div></div>

yo/app/jade/views/kindle/about-us.jade
link(href='styles/kindle.css' rel='stylesheet')

.section.section-about
	.content.content-about
		.about-letters
			em.about-letter.about-letter-a.about-letter_word_all
			em.about-letter.about-letter-l.about-letter_word_all
			em.about-letter.about-letter-l.about-letter_word_all

			em.about-letter.about-letter-i.about-letter_word_is
			em.about-letter.about-letter-s.about-letter_word_is

			em.about-letter.about-letter-f.about-letter_word_full.about-letter-break
			em.about-letter.about-letter-u.about-letter_word_full
			em.about-letter.about-letter-l.about-letter_word_full
			em.about-letter.about-letter-l.about-letter_word_full

			em.about-letter.about-letter-o.about-letter_word_of.about-letter-break
			em.about-letter.about-letter-f.about-letter_word_of

			em.about-letter.about-letter-l.about-letter_word_love
			em.about-letter.about-letter-o.about-letter_word_love
			em.about-letter.about-letter-v.about-letter_word_love
			em.about-letter.about-letter-e.about-letter_word_love

		.about-people.about-circle
			span.about-circle-number 78
			| people

		.about-description
			| Ailove is a full service digital agency
			br
			| with office in Moscow, Russia.
			br
			| We work with some of the most
			br
			| distinguished brands in the world
			br
			| launching cross-platform solutions
			br
			| for web, e-commerce, social media
			br
			| and online campaigns.
			br
			| We are a team of planners, producers,
			br
			| information architects, analysts,
			br
			| creatives and technologists dedicated
			br
			| to our clients' success.

		.about-projects.about-circle
			span.about-circle-number 96
			| projects
