yo/app/jade/views/kindle/home.jade
link(href='styles/kindle.css' rel='stylesheet')

.section.section-home
	.section-home__figure-0.g-abs
	.section-home__figure-1.g-abs
	.section-home__figure-2.g-abs

	.content

		.section-home__showreel
			.section-home__showreel-triangle.section-home__showreel-triangle-front
				.section-home__showreel-triangle-inner.section-home__showreel-triangle-inner-main
				
			.section-home__showreel-triangle.section-home__showreel-triangle-back

			a.section-home__showreel-label(href=jv0)
				.section-home__showreel-play


		.section-home__quote
			| Maybe not from the sources
			br
			| You have poured yours
			br
			| Maybe not from the directions
			br
			| You are staring at
			br
			| Trust your head around
			br
			| It's all around you...

yo/app/views/ipad-portrait/home.html
<link href="styles/ipad-portrait.css" rel="stylesheet"/><div class="section section-home"><div class="section-home__figure-0 g-abs"></div><div class="section-home__figure-1 g-abs"></div><div class="section-home__figure-2 g-abs"></div><div class="content"><div class="section-home__showreel"><div class="section-home__showreel-triangle section-home__showreel-triangle-front"><div class="section-home__showreel-triangle-inner section-home__showreel-triangle-inner-main"></div></div><div class="section-home__showreel-triangle section-home__showreel-triangle-back"></div><a href="javascript:void(0);" class="section-home__showreel-label"><div class="section-home__showreel-play"></div></a></div><div class="section-home__quote">Maybe not from the sources<br/>You have poured yours<br/>Maybe not from the directions<br/>You are staring at<br/>Trust your head around<br/>It's all around you...</div></div></div>
