yo/app/jade/views/iphone/what-we-do.jade
link(href='styles/iphone.css' rel='stylesheet')

.section.section-wwd
	.wwd-figure.wwd-figure-0
	.wwd-figure.wwd-figure-1

	ul.wwd-list(data-bg-text='units')
		li.wwd-list__item.wwd-list__item-0 Strategy
			span.wwd-list__item-description.wwd-list__item-description-0 The right solution for any brands
		li.wwd-list__item.wwd-list__item-1 Creative
			span.wwd-list__item-description.wwd-list__item-description-1 Interest, enticing and bright core communication
		li.wwd-list__item.wwd-list__item-2 Mobile
			span.wwd-list__item-description.wwd-list__item-description-2 Application for mobile platfotms Android ans iOS
		li.wwd-list__item.wwd-list__item-3 Production
			span.wwd-list__item-description.wwd-list__item-description-3 Production and support of sites
		li.wwd-list__item.wwd-list__item-4 Integration
			span.wwd-list__item-description.wwd-list__item-description-4 Use of opportinites social media <br>and websites to communicate with users
		li.wwd-list__item.wwd-list__item-5 SMM
			span.wwd-list__item-description.wwd-list__item-description-5 Competent promotion in social network
		li.wwd-list__item.wwd-list__item-6 SEO
			span.wwd-list__item-description.wwd-list__item-description-6 Promotion of sites in search systems

yo/app/views/ipad-portrait/what-we-do.html
<link href="styles/ipad-portrait.css" rel="stylesheet"/><div class="section section-wwd"><div class="wwd-figure wwd-figure-0"></div><div class="wwd-figure wwd-figure-1"></div><ul data-bg-text="units" class="wwd-list"><li class="wwd-list__item wwd-list__item-0">Strategy<span class="wwd-list__item-description wwd-list__item-description-0">The right solution for any brands</span></li><li class="wwd-list__item wwd-list__item-1">Creative<span class="wwd-list__item-description wwd-list__item-description-1">Interest, enticing and bright core communication</span></li><li class="wwd-list__item wwd-list__item-2">Mobile<span class="wwd-list__item-description wwd-list__item-description-2">Application for mobile platfotms Android ans iOS</span></li><li class="wwd-list__item wwd-list__item-3">Production<span class="wwd-list__item-description wwd-list__item-description-3">Production and support of sites</span></li><li class="wwd-list__item wwd-list__item-4">Integration<span class="wwd-list__item-description wwd-list__item-description-4">Use of opportinites social media <br>and websites to communicate with users</span></li><li class="wwd-list__item wwd-list__item-5">SMM<span class="wwd-list__item-description wwd-list__item-description-5">Competent promotion in social network</span></li><li class="wwd-list__item wwd-list__item-6">SEO<span class="wwd-list__item-description wwd-list__item-description-6">Promotion of sites in search systems</span></li></ul></div>
