yo/app/св ц/header-mobile.html
<input id="showNav" name="nav" type="radio" hidden="hidden" class="nav-radio nav-radio-show"/><input id="hideNav" name="nav" type="radio" hidden="hidden" checked="checked" class="nav-radio nav-radio-hide"/><header class="header"><a href="#" title="ailove" class="logo"></a><label for="showNav" tabindex="0" class="nav-button nav-button-show"></label></header><aside class="nav"><label for="hideNav" tabindex="0" class="nav-button nav-button-hide"></label><ul class="nav-lang"><li class="nav-lang__item"><a ui-sref="page({ pageSlug: slug, language: 'ru' })" class="nav-lang__item-link nav-lang__item-link_state_active nav-link">Ru</a></li><li class="nav-lang__item"><a ui-sref="page({ pageSlug: slug, language: 'en' })" class="nav-lang__item-link nav-link">Eng</a></li></ul><ul class="nav-menu"><li class="nav-menu__item"><a ui-sref="page({ pageSlug: 'about-us', language: lang })" class="nav-menu__item-link nav-link">{{ 'menu.about-us' | translate }} </a></li><li class="nav-menu__item"><a ui-sref="page({ pageSlug: 'what-we-do', language: lang })" class="nav-menu__item-link nav-link">{{ 'menu.what-we-do' | translate }}</a></li><li class="nav-menu__item"><a ui-sref="page({ pageSlug: 'contacts', language: lang })" class="nav-menu__item-link nav-link">{{ 'menu.contacts' | translate }}</a></li><li class="nav-menu__item"><a ui-sref="page({ pageSlug: 'portfolio', language: lang })" class="nav-menu__item-link nav-link">{{ 'menu.portfolio' | translate }}</a></li></ul><div class="nav-contacts"><div class="nav-contacts__fig-0 g-abs"></div><div class="nav-contacts__social social-circle social-circle_theme_nav-contacts g-abs"><a href="javascript:void(0);" class="social-circle-link social-circle-facebook"><span class="social-triangle social-triangle-facebook"></span></a><a href="javascript:void(0);" class="social-circle-link social-circle-twitter"><span class="social-triangle social-triangle-twitter"></span></a></div><div class="nav-contacts__data g-abs"><a href="tel:+74952587488" class="nav-contacts-link">+7 (495) 258 74 88</a><br/><a href="mailto:info@ailove.ru" class="nav-contacts-link">info@ailove.ru</a><br/>119991, Москва, Ленинский пр-кт,<br/>д. 6, стр. 20</div></div></aside>

yo/app/jade/partials/header-mobile.jade
input#showNav.nav-radio.nav-radio-show(name='nav' type='radio' hidden='hidden')
input#hideNav.nav-radio.nav-radio-hide(name='nav' type='radio' hidden='hidden' checked='checked') 

header.header
	a.logo(href='#' title='ailove')
	label.nav-button.nav-button-show(for='showNav' tabindex='0')
aside.nav
	label.nav-button.nav-button-hide(for='hideNav' tabindex='0')
	ul.nav-lang
		li.nav-lang__item
			a.nav-lang__item-link.nav-lang__item-link_state_active.nav-link(ui-sref='page({ pageSlug: slug, language: \'ru\' })') Ru
		li.nav-lang__item
			a.nav-lang__item-link.nav-link(ui-sref='page({ pageSlug: slug, language: \'en\' })') Eng

	ul.nav-menu
		li.nav-menu__item
			a.nav-menu__item-link.nav-link(ui-sref='page({ pageSlug: \'about-us\', language: lang })') {{ 'menu.about-us' | translate }} 
		li.nav-menu__item
			a.nav-menu__item-link.nav-link(ui-sref='page({ pageSlug: \'what-we-do\', language: lang })') {{ 'menu.what-we-do' | translate }}
		li.nav-menu__item
			a.nav-menu__item-link.nav-link(ui-sref='page({ pageSlug: \'contacts\', language: lang })') {{ 'menu.contacts' | translate }}
		li.nav-menu__item
			a.nav-menu__item-link.nav-link(ui-sref='page({ pageSlug: \'portfolio\', language: lang })') {{ 'menu.portfolio' | translate }}
	
	.nav-contacts
		.nav-contacts__fig-0.g-abs
		.nav-contacts__social.social-circle.social-circle_theme_nav-contacts.g-abs
			a.social-circle-link.social-circle-facebook(href=jv0)
				span.social-triangle.social-triangle-facebook
			a.social-circle-link.social-circle-twitter(href=jv0)
				span.social-triangle.social-triangle-twitter
		.nav-contacts__data.g-abs
			a.nav-contacts-link(href='tel:+74952587488') +7 (495) 258 74 88
			br
			a.nav-contacts-link(href='mailto:info@ailove.ru') info@ailove.ru
			br
			| 119991, Москва, Ленинский пр-кт,
			br
			| д. 6, стр. 20
